body {
    background-color: #eeeeef;
    font-family:sans-serif;
    margin: 0px;
}

h1, p {
    text-align: center;
}

div.topper {
    width: 70%;
    margin:auto;
    padding:1px;
    color:white;
    background-color: rgb(83, 100, 124);
    margin-bottom:50px;
}

.video {
	margin:auto;
}

nav {
	background-color:#353f49;
	padding:15px;
	margin-bottom:15px;
	text-align:center;
}

.bar {
	color:white;
	padding:15px;
}

.bar:hover {
	cursor:pointer;
	background-color:#47535f;
}

div.nav_list {
    margin:auto;
    width:100%;
    text-align:center;
    background-color:#608ac0;
}

div.nav_list:hover {
    cursor:pointer;
    background-color:#496588;
}

.client_links {
    display:block;
    padding:10px;
    color:#333333;
}

.client_links:hover {
    background-color:#365c8b;
}

.client_buttons {
    background-color: #8fc6dd;
    border: none;
    color: #333333;
    width:100%;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.client_buttons:hover {
    cursor:pointer;
    background-color:#778bad;
}

.other_buttons {
    background-color: #55cf63;
    border: none;
    color: #333333;
    width:100%;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.other_buttons:hover {
    cursor:pointer;
    background-color:#479c4b;
}

.client_detail {
    background-color: #8fc6dd;
    border: none;
    color: #333333;
    width:100%;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.submission {
    background-color: #0f9b0b;
    border: none;
    color: #eeeeef;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin:15px auto;
}

.submission:hover {
    cursor:pointer;
    background-color: #0b6d08;
}

.searchbar {
    margin:15px;
    border: none;
    text-decoration: none;
    font-size: 14px;
}

.search_settings {
    margin:auto;
    text-align:center;
}

.error_message {
    width:220px;
    margin:auto;
    padding:5px;
    color:white;
    background-color: red;
    font-size:14px;
}

.add_client {
    margin-left:25%;
}

.add_form {
    text-align:left;
}